#color1 
{
	width: 85px;
	height: 85px;
	border: 2px
	border-color: black;
	background-color: black;
	margin 10px;
	float: left;
	padding: 20px;
}

#color2
{
	width: 85px;
	height: 85px;
	border: 2px
	border-color: black;
	background-color: yellow;;
	margin 10px;
	float:left;
	padding: 20px;
}

#color3
{
	width: 85px;
	height: 85px;
	border: 2px
	border-color: red;
	background-color: red;
	margin 10px;
	float: left;
	padding: 20px;
}

#color4
{
	width: 85px;
	height: 85px;
	border: 2px
	border-color: green;
	background-color: green;;
	margin 10px;
	float:left;
	padding: 20px;
}



#colorAreaComplement
{
   width: 500px;
	height: 120px;
	margin: 10px;
	padding: 20ox;
   overflow: hidden;
}

#colorAreaTriad
{
   width: 500px;
	height: 120px;
	margin: 10px;
	padding: 20ox;
   overflow: hidden;
}
