.swatch {
	width: 80px;
	text-align: center;
	margin: 3px;
	padding: 3px;
	border: 1px solid black;
	float: left;
}

.thanks {
	color: silver;
	text-align: center;
}

.warning {
	color: red;
	text-align: center;
}
